body {
  font-weight: 300;
  margin: 16px;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI';
}

ul {
  padding: 0;
  margin: 10px;
}

li {
  list-style: none;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  font-weight: bold;
  padding-top:10px;
  background-color: #fafafa;
}

span { display: inline-block; padding-bottom: 10px; }

.avatar { width: 90px; }
.name { width: 250px; }
.email { width: 230px; }
.gender { width: 100px; }
.department { width: 240px; }
.date { width: 200px; }