html, body {
  width: 100%;
  height: 100%
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 10px;
}

ul li {
  list-style: none;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  font-weight: bold;
  padding-top:10px;
  background-color: #fafafa;
}

span { display: inline-block; padding-bottom: 10px; }

.id { width: 5%; }
.avatar { width: 7%; }
.name { width: 26%; }
.email { width: 22%; }
.gender { width: 7%; }
.department { width: 24%; }
.date { width: 7%; }

.white { color: #fff !important; }